<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->


<div class="container">
    <div class="row">
               <div id="custom-search-input">
                                <div class="input-group col-md-12" style="text-align: center">
                                    <input type="text" class="search-query form-control" placeholder="Search With NAME"  name="email" />
                                    <span class="input-group-btn">
                                        <button class="btn btn-danger" type="button">
                                            <span class=" glyphicon glyphicon-search"></span>
                                        </button>
                                    </span>
                                </div>
                            </div>
    </div>
    </div>
<div class="container">
<div class="container">
    <div class="row col-md-6 col-md-offset-2 custyle">
    <table class="table table-striped custab">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>LOCATION</th>
            <th>BUDGET</th>
            <th>MATERIALS</th>
            <th>Speaker</th>
            <th>START DATE</th>
            <th>FINAL DATE</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let event of events">
            <td>{{event.idEv}}</td>
            <td>{{event.name}}</td>
            <td>{{event.location}}</td>
            <td>{{event.budget}}</td>
            <td>{{event.materials}}</td>
            <td>{{event.speaker}}</td>
            <td>{{event.startDate}}</td>
            <td>{{event.endDate}}</td>

            
        <td class="text-center"><button class="btn btn-danger btn-xs" (click)="delteUser(event.idEv)"><span class="glyphicon glyphicon-remove"></span> Delete</button></td>
          </tr>
         
    </tbody>
    </table> 
    <form (ngSubmit)="assignEventToAllTeams(event.idEv)">
        <label>
          Event ID:(ASSIGN EVENT TO TEAMS)
          <input type="number" [(ngModel)]="event.idEv" name="EventID">
        </label>
        
        <button   class="get-started-btn"  type="submit" >Participer</button>
    </form>
    <form (ngSubmit)="assignEventToAllTeams1(event.idEv)">
        <label>
          Event ID:(ASSIGN USERS TO events)
          <input type="number" [(ngModel)]="event.idEv" name="EventID">
        </label>
        <button   class="get-started-btn"  type="submit" >Participer</button>
    </form>
    <div>
        <strong style="color: green;" *ngIf="affichage">{{message}}</strong>
      </div>
    </div>
    <a class="btn btn-success btn-space" [routerLink]="['/admin/app-add-event']">Add new event</a>
    <a class="btn btn-success btn-space" [routerLink]="['/admin/UpdateComponent']">Update event</a>

</div>


