


<img src="assets/front/assets/img/a.png" width="70">
<br>
<button style="background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;"  [routerLink]="['/admin/app-add-event']"   >ADD AN EVENT</button>
  <button style="background-color: #241da6; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;"[routerLink]="['/admin/socities']">LIST OF SOCIETIES</button>
    <button style="background-color: #68b319; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;"[routerLink]="['/admin/ListUserComponent']">LIST OF USERS</button><br>

<button style="background-color: #850a0a; /* Green */
border: none;
color: white;
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin: 4px 2px;
cursor: pointer;
border-radius: 10px;"  [routerLink]="['/admin/app-search-delete']"   >LIST OF EVENTS</button><br>
<button style="background-color: #7977ac; /* Green */
border: none;
color: white;
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin: 4px 2px;
cursor: pointer;
border-radius: 10px;"[routerLink]="['/admin/AddTeamComponent']">TEAMS</button><br>
<button style="background-color: #be7106; /* Green */
border: none;
color: white;
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin: 4px 2px;
cursor: pointer;
border-radius: 10px;"[routerLink]="['/admin/read']">CREATION </button>

   
   <br>
       <button style="background-color: #68b319; /* Green */
       border: none;
       color: white;
       padding: 15px 32px;
       text-align: center;
       text-decoration: none;
       display: inline-block;
       font-size: 16px;
       margin: 4px 2px;
       cursor: pointer;
       border-radius: 10px;"[routerLink]="['/admin/app-addth']">Theme</button><br>
      
<a [routerLink]="['/admin/AddFComponent']" >RESULT</a>